@fontface {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Poppins')
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1d273d;
}